<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/home-html.css">
	
	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/HomeCtrl.js"></script>
	
	<style>
		@font-face {
			font-family: ArchitectsDaughter;
			src: url(ArchitectsDaughter.ttf);
		}
	</style>
	
</head>
<body ng-app="app" ng-controller="HomeCtrl">
	<div id="backgroundImage">
		<div class="topBar container-fluid">
			<span class="title col-xs-2 col-xs-offset-5">Flash Card</span>
			<img src="img/button/sound.png" ng-show="soundON" ng-click="playAudio(false); soundON = false"/>
			<img src="img/button/sound_mute.png" ng-show="!soundON" ng-click="playAudio(true); soundON = true"/>
		</div>
			
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<div class="fadeIn first">
      				<img src="img/love-and-joy.jpg" class="logo" id="icon" alt="User Icon" />
    			</div>
				<form>
					<input type="text" id="login" class="fadeIn first" name="login" placeholder="login ID">
					<input type="text" id="password" class="fadeIn second" name="password" placeholder="Password">
					<input type="button" id ="submit" class="fadeIn third" value="Log In" ng-click="validate()">
				</form>
			</div>
		</div>
		<!-- </br> -->
		<!-- <div>
			<img src="img/goodland_logo.png" class="logo"/>
		</div>  -->
		<!--<a href="revision.html"><button class="homePageBtn">Activities</button></a> -->
	</div>
</body>
</html>